
.header-content {
  max-height: 100px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  width: 100% !important;
}

.header-image {
  max-width: 100% !important;
  height: auto !important;
}

.header-title {
  width: 100% !important;
  position: relative !important;
  text-align: left !important;
}
